image: node:14.17.6

variables:
  PUBLIC_URL: "/recipeFork"

cache:
  paths:
  - client-recipefork/node_modules

stages:
  - deploy

pages:
  before_script:
    - cd client-recipefork/

  stage: deploy

  script:
    - npm install        # Install all dependencies
    - npm run build      # Build for prod
    - mv public ../_public  # CRA and gitlab pages both use the public folder. Only do this in a build pipeline.
    - mv build ../public    # Move build files to public dir for Gitlab Pages
    - cp ../public/index.html ../public/404.html

  artifacts:
    paths:
    - public

  only:
    - frontend-ci-deploy
