.App {
  text-align: center;
}

.profile-thumb {
  height: 3vmin;
  border-radius: 50%;
}

.profile-pic {
  height: 20vmin;
  border-radius: 50%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 35px;
}

.link {
  color: #61dafb;
}

.vertical {
  display: flex;
  flex-direction: column;
  
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.padding {
  padding: 10px;
}

.vl {
  border-right: 3px solid #282c34;
  height: 500px;
}

.hr {
  height:10px;
  border-width:0;
  color:gray;
  background-color:gray
}

.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.home-recipes {
  min-width: 30vmin;
}

.home-activity {
  min-width: 50vmin;
}

.recipes-title {
  min-width: 70vmin;
}

.recipes-info {
  min-width: 30vmin;
}

.recipes-tags {
  max-width: 60vmax;;
}

.left-align {
  text-align: left;
}

.full-width {
  width: 100%;
}

.wide-width {
  width: 80%;
}