$lavender: #E4E5FF;
$purple1: #565886;
$purple2: #1d1d4d;

.recipecard {
    background-color: lavender;
    border-radius: 75px;

    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;

    width: 110%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.recipe-pic {
    width: 100%;
    height: auto;
    border: 2px solid $purple2;
}